* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Maven Pro', sans-serif;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
/*float*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.w-50 {
    width: 50%;
}

/* color and size */
.back100 {
    width: 100%;
}
.container60 {
    width: 60%;
    margin: auto;
}
.container50 {
    width: 50%;
    margin: auto;
}
.container35 {
    width: 35%;
}
.container40 {
    width: 40%;
}
.dark-blue-bg {
    background-color: #0C325A;
}
.light-blue-bg {
    background-color: #17416B;
}
.img25 {
    width: 25%;
}
.margin-btm24 {
    margin-bottom: 24px;
}
.margin-btm56 {
    margin-bottom: 65px;
}
.link-blu {
    color: #5586BC;
}
.link-orange {
    color: #F7A60A;
}
.orange {
    color: #F7A60A;
    text-decoration: none;
}
.link-green {
    color: #80B808;
}
.p-gray {
    color: #808080;
    font-weight: 500;
}
.txt-white {
    color: #fff;
}
.txt-green {
    color: #7CBB02;
    line-height: 1.5;
}
h1 {
    color: #ffffff;
    margin-bottom: 32px;
    font-size: 48px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 18px;
}
/* nav wrap*/
.wrap-nav {
    height: 100%; 
    padding-top: 16px; 
}
header {
    height: 70vh;
    background-color: #0C325A;
    background-image: url('../img/background-header.png');
    background-position: 112% 107%;
    background-size: 65% auto;
    background-repeat: no-repeat;
}
/* navigation bar */
.logo {
    width: 15%;
}
.nav-top {
    width: 45%;
}
.buttons {
    width: 40%;
    text-align: right;
}
.nav-link,
.nav-link a {
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 45px; 
}
.nav-link a:hover {
    color: #7CBB02;
}
.nav-link li {
    display: inline-block;
    margin-left: 16px;
}
.btn {
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
}
.btn-white {
    background-color: #0C325A;
    border: 1px solid #ffffff;
    padding: 8px 24px;
}
.btn-green {
    background-color: #7CBB02;
    /* border: 1px solid #7CBB02; da css validator lo considera un warning*/
}
.btn-white:hover {
    background-color: #061c33;
    color: #ffffff !important;
}
 .btn-green:hover {
    background-color: #639400;
    color: #ffffff !important;
}
/* hero text area heading cta */
.hero-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 , -50%);
}
.cta-main {
    padding: 16px;
}
/* info gray */
.info {
    height: 20%;
    padding: 40px 0;
    text-align: center;
    background-color: #D3D3D3;
}
.small-title {
    padding-bottom: 16px;
}
/* graphic and images */
.wrapper {
    height: 500px;
    margin-top: 40px;
}
.graphic {
    width: calc(33% - 72px);
    height: 350px;
    margin: 0 36px 40px;
    padding: 16px;
    text-align: center;
}
.graphic img {
    height: 50%;
    margin-bottom: 32px;
}
.small-line {
    width: 50px;
    margin: 16px auto;
    text-align: center;
}
/*mountain hr*/
.mountain-hr {
    opacity: 0.50;  
}
/* mountain area */
.mountain-area {
    width: 75%;
    margin: 32px auto;
}
.mountain-img img {
    width: 70%;
    margin-left: 60px;
}
.mountain-txt {
    padding: 0 124px;;
}
.mountain-txt > * {
    margin-bottom: 8px;
}
.mountain-txt p a {
    color: #5586BC;
    font-weight: 600;
}
/* footer */
.bottom {
    height: 150px;
    background-color: #D3D3D3;
}
footer > .container.clearfix {
    line-height: 150px;
}
.title-footer {
    width: 60%;
}
.short-form {
    width: 40%;
}
.p-inline {
    display: inline-block;
}
.short-form > * {
    margin: 0 16px;
}
/*help btn*/
 button {
    position: fixed;
    bottom: 0;
    left: 80%;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px 5px 0 0 !important;
    border: none;
    cursor: pointer;
 }
 /* footer commmentato 
 .seleziona {
    border-bottom: 1px solid #808080;
    padding-bottom: 4px;
 }
 .seleziona span.p-gray:last-child {
    margin-left: 32px;
} */
.shake-hand-area {
    width: 70%;
    margin: 64px auto;
}
.shake-hand-area img {
    width: 70%;
    margin-left: 56px;
}
.shake-txt {
    width: 40%;
}
.p-shake {
    width: 51%;
    margin-top: 5px;
    text-align: center;
    color: #5586BC;
    line-height: 1.5;
    font-weight: 500;
}
.shake-txt > * {
    margin-bottom: 16px;
}
/*pc area*/
.pc-area {
    width: 70%;
    margin: 112px auto 64px;
    text-align: center;
}
.pc-area img {
    width: 60%;
    margin: 24px auto;
    display: block;
}
.small-txt {
    font-size: 11px;
    font-weight: 700;
}
.link-blu {
    color: #5586BC;
}
.pc-area-txt > * {
    margin-bottom: 16px;
}
.foot1 {
    padding: 24px 0 15px;
}
.container35 > * {
    margin-bottom: 32px;
}
/*foot white*/
.foot2 > h2{
    text-align: center;
}
.title-foot2 {
    margin: 72px 58px;
}
.link-blu::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #5586BC;
    margin-bottom: 24px;
}
.link-orange::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #F7A60A;
    margin-bottom: 24px;
}
.link-green::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #80B808;
    margin-bottom: 24px;
}
.w-33 {
    width: calc(33% - 32px);
    margin: 0 16px;
}
/*footer 4*/
.credits {
    text-align: right;
}
.site-list {
    list-style: none;
}
.site-list li {
    margin-bottom: 8px;
}
.site-list a {
    text-decoration: none;
}
.site-list a:hover {
    color: #D3D3D3;
}